/*Globals*/
.main_heading{
  color:#C2B7B1;
}
.main_text{
  font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #4E4039;
}
.main_text::after{
  content: "";
position: absolute;
height: .125rem;
width: 3.75rem;
background-color: var(--orange);
bottom: -10px;
left: calc(50% - 30px);
display: block;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: "Roboto", sans-serif;
}
a, a:visited{
  text-decoration: none;
}
p{
  margin: 0;
}

/*Variables*/
:root{
  --orange:#EB5D1E;
  --lightgray:#C2B7B1;
  --brown:#4E4039;
}

.btn{
    background: #eb5d1e;
    color: #fff;
    padding: 0.635rem 1.5625rem;
    border-radius: 3.125rem;
   outline: 0;
}
.btn:hover{
  color: #fff;
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
}
.btn:focus,.btn:active {
  outline: none;
  box-shadow: none;
}
#top-btn{
  position: fixed;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: var(--orange);
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  display: none;
  z-index: 99;
 
}
/*Navbar*/
.navbar-light .navbar-nav .nav-link {
    margin-right: 10px;
    color: rgba(0,0,0,0.7);
}
.navbar-light{
  background-color: #FFFFFF!important;
  box-shadow: 5px 0 10px 0 black;
}
.nav-item:hover .nav-link, .dropdown-item:hover {
  color: var(--orange)!important;
  transition: all 400ms ease-in-out;
  background: transparent;
}
.navbar-light .navbar-brand {
  color: rgba(0,0,0,0.6);
  font-size:2.5rem;
  letter-spacing: .1875rem;
  font-weight: 300;
}
/*Hero Section*/
.hero_fluid{
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
 background-color: #FEF8F5;
}
.hero_text{
  margin-top: 20px;
}
.hero_text h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #4e4039;
}
.hero_btn{
  border-radius: 0;
}
.hero_text p{
  color: #a08f86;
  margin: 15px 0 0 0;
  font-size: 1.5rem;
  font-weight: 300;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/*Media Query for hero images*/
@media only screen and (min-width:400px) and (max-width:767px){
  .hero_img{
    padding-top:5rem;
  }
}
@media only screen and (min-width:767px) and (max-width:992px){
  .heroImg{
width: 100%;
margin-top: 3.125rem;
  }
}
@media only screen and (min-width:992px) and (max-width:1199px){
  .navbar-light .navbar-nav .nav-link {
   font-size:.9688rem ;
}
}

@keyframes up-down{
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
#hero .heroImg{
  animation: up-down 1.4s ease-in-out infinite alternate-reverse both;
  
}

/*Services section*/
.serv_fluid{
  min-height:80vh;
  background-color:#FFFFFF;
  display: flex;
  align-items: center;
}
.card1{
  height: 50vh;
}
.subbox_card1{
  border-radius: 10px;
  padding: 30px;
  line-height: 1.7;
height: 100%;
background: #FFFFFF;
font-size: 15px;
box-shadow: 0px 0px 10px black;
}
.fa-volleyball {
color: var(--orange);
}
.subbox_card1:hover{
  border-bottom: 4px solid var(--orange);
  transition: all 200ms ease-in-out;

}
/*About Section*/
.about_fluid{
  min-height: 70vh;
  background-color: #FEF8F5;
}
/*About Section end*/

/*Filtered elements*/
.filter-menu{
  display: flex;
  justify-content: center;
}
.filter_btn{
height: 30px;
  width: 10%;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 500;
}

.filter_btn:hover{
  color: var(--orange);
  transition: all 200ms ease-in-out ;
}
.btn_active{
  color: var(--orange);
}
.img-box{
  margin-top: 20px;
}
.img-box,.img-box img{
  border-radius:15px ;
}
.accordion-item{
  border: none;
  border-bottom: 1px solid gainsboro;
  
}
.accordion-button{
  font-size: 1.2rem;
  font-weight: 600;
  color: #454A50;
}


.accordion-button{
  border: none!important;
outline: none!important;
  box-shadow: none!important;
    background-color: transparent!important;
    color:black!important;
}
.accordion-button:focus{
  background-color: transparent!important;
  border: none!important;
outline: none!important;
  box-shadow: none!important;
  color: #C54812!important;
}
.accordion-button:hover{
  color: var(--orange)!important;
}
.accordion-button::after{
  display: none;
}

/*Team section*/
.img1{
  position: relative;
  
}
.member_info{
  margin-left: 11px;
  width: 92%;
  position: absolute;
  top: 75%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: white;
  display: none;
  background: rgba(78, 64, 57, 0.6);
  ;
  
}
.img_box:hover .member_info{
  display: block;
}
.social{
  
  background: rgba(78, 64, 57, 0.6);
  position: absolute;
  top: -195px;
  bottom: 0;
  left: 0px;
  width: 40px;
  
  
}
.social a i{
  color: white;
}
/*Owl carousal*/
.owl_fluid{
  background:#FEF8F5;
}
.owl-nav{
  display: none;
}
.item{
  min-height: 100px;
  padding: 2.5rem;
}
.owl-theme .owl-dots .owl-dot span {
  background:white;
  border: 1px solid var(--orange);

}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--orange);
}


/*Comntact us*/
.map,.form_col {
  border-top:3px solid var(--orange) ;
  border-bottom:3px solid var(--orange) ;
  border-radius: 15px;
  background: #FFFFFF;
}
.contact_fluid{
  background-color: #FBFBFB;
}
.loc_col{
display: flex;justify-content: center;align-content: center;
}
.loc_box{
margin-left: -5px;
  display: flex;
  align-items: center;
  width: 50px;
height: 50px;
border-radius:50% ;
  background-color: #FDF1EC;
}
.loc_box:hover{background-color: var(--orange);transition: all 200ms ease-in-out;}
.loc_box:hover .fa-envelope{color: white;}
.fa-envelope{
color: var(--orange);
  font-size: 20px;
  margin-left: -1px;
}

/*Links*/
.links ul>li{
  list-style: none;
  line-height: 2;
  color: #5C5C5C;
}
.links ul>li:hover{
  color: var(--orange);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.fa-chevron-right{
  font-size: .625rem;
  color: var(--orange);
}
.social-links .fa{
  font-size: 18px;
  margin-left: 10px;
  padding-top: 9px;
  border-radius: 50%;
  text-align: center;
background-color: var(--orange);
color: white;
  height: 35px;
  width: 35px;
}
.social-links .fa:hover{
  color: #fff;
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
}